body{
   
    background-size: cover;
    background-image: url('https://th.bing.com/th?id=OIF.9A7Sn3m9PvyR%2b3cPOVIEdg&w=314&h=180&c=7&r=0&o=7&pid=1.7&rm=3');
}
#label1{
    display: block;
    text-align: center;
    font-size: 14em;
    margin: 40px;
    color: #fff;

}
#div1{
    text-align: center;

}
.buttons{
    font-size: 2em;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    color: #fff;
    background-color: aqua;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(43, 38, 38);

}
.buttons:hover{
    background-color: #202527;
    box-shadow: #6c787c 0px 0px 20px;

    opacity: 0.8;
}
